<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{appName}}</a>

  <div>
    <a *ngIf="!user" class="btn btn-link">
      <fa-icon [icon]="faUser" class="text-white"></fa-icon>
    </a>
    <div *ngIf="user" class="nav-item dropdown">
      <a class="btn btn-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button"
         data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <fa-icon [icon]="faUser" class="text-white"></fa-icon>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item">Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>

<div class="jumbotron bg-white">
  <div class="container">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </div>
</div>
