<h1>Take Home Salary Calculator</h1>
<div class="form-group">
  <label for="ctc">Cost to Company (CTC)</label>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">&#8377;</div>
    </div>
    <input type="number" class="form-control" id="ctc" aria-describedby="costToCompany" [(ngModel)]="ctc">
  </div>
</div>

<button class="btn btn-dark mb-5" (click)="computeComponents()">Calculate Salary Components</button>

<div *ngIf="showComponents">
  <h2>Salary Breakup</h2>
  <div class="form-group">
    <label for="basic-salary">Basic Salary</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" class="form-control" id="basic-salary" aria-describedby="basic-salary" [(ngModel)]="basic"
             (keyup)="updateComponents()">
    </div>
    <small id="basic-salary-help" class="form-text text-muted">Default: 50% of CTC, change value if needed.</small>
  </div>
  <div class="form-group">
    <label for="hra">House Rent Allowance (HRA)</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" class="form-control" id="hra" aria-describedby="house-rent-allowance" [(ngModel)]="hra"
             (keyup)="updateComponents()">
    </div>
    <small id="hra-help" class="form-text text-muted">Default: 40% of Basic Salary, change value if needed.</small>
  </div>
  <div class="form-group">
    <label for="ppf">Public Provident Fund (PPF)</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="ppf" aria-describedby="public-provident-fund"
             [(ngModel)]="ppf">
    </div>
    <small id="ppf-help" class="form-text text-muted">Computed at 12% of Basic Salary</small>
  </div>
  <div class="form-group">
    <label for="travel-allowance">Travel Allowance</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" class="form-control" id="travel-allowance" aria-describedby="travel-allowance"
             [(ngModel)]="travel_allowance" (keyup)="updateComponents()">
    </div>
  </div>
  <div class="form-group">
    <label for="other">Other Allowance</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="other" aria-describedby="other-allowance"
             [(ngModel)]="other_allowance">
    </div>
  </div>
  <button class="btn btn-dark mb-5" (click)="computeTaxableIncome()">Calculate Taxable Income</button>
</div>

<div *ngIf="showTaxableSalary">
  <h2>Deductions</h2>
  <div class="form-group">
    <label for="total-income">Total Income</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="total-income" aria-describedby="total-income"
             [(ngModel)]="total_income">
    </div>
    <small id="total-income-help" class="form-text text-muted">Basic Salary + HRA + Travel Allowance + Other
      Allowance</small>
  </div>

  <div class="form-group">
    <label for="mandatory-deduction">Mandatory Deduction</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="mandatory-deduction" aria-describedby="mandatory-deduction"
             [(ngModel)]="mandatory_deduction">
    </div>
  </div>

  <div class="form-group">
    <label for="professional-tax">Professional Tax</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="professional-tax" aria-describedby="professional-tax"
             [(ngModel)]="professional_tax">
    </div>
  </div>

  <h3>Taxable HRA Computation</h3>
  <div class="form-group">
    <div class="form-row">
      <div class="col-auto">
        <label for="monthly-rent" class="pt-2">Monthly Rent Paid</label>
      </div>
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">&#8377;</div>
          </div>
          <input type="number" class="form-control" id="monthly-rent" aria-describedby="monthly-rent"
                 [(ngModel)]="monthly_rent" (ngModelChange)="computeHRA()">
        </div>
      </div>
      <div class="col-auto">
        <div class="form-check mb-2 pt-2">
          <input class="form-check-input" type="checkbox" id="metroCheck" (click)="isMetro = !isMetro; computeHRA()">
          <label class="form-check-label" for="metroCheck">
            Metro
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="deductible-hra">Deductible HRA</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="deductible-hra" aria-describedby="deductible-hra"
             [(ngModel)]="deductible_hra">
    </div>
  </div>

  <h3>Section 80C</h3>
  <div class="form-group">
    <label for="deductible-ppf">Public Provident Fund</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="deductible-ppf" aria-describedby="deductible-ppf"
             [(ngModel)]="ppf">
    </div>
  </div>
  <div class="form-group">
    <label for="corporate-nps">Corporate NPS</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" class="form-control" id="corporate-nps" aria-describedby="corporate-nps"
             max="{{0.1*basic}}" [(ngModel)]="corporate_nps" (ngModelChange)="computeTaxableIncome()">
    </div>
  </div>
  <div class="form-group">
    <label for="mutual-funds">Tax Saving Mutual Funds</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" class="form-control" id="mutual-funds" aria-describedby="mutual-funds"
             [(ngModel)]="mutual_funds" (ngModelChange)="computeTaxableIncome()">
    </div>
  </div>
  <div class="form-group">
    <label for="sukanya-samriddhi-account">Sukanya Samriddhi Account</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" class="form-control" id="sukanya-samriddhi-account"
             aria-describedby="sukanya-samriddhi-account"
             max="150000" [(ngModel)]="sukanya_samriddhi_account" (ngModelChange)="computeTaxableIncome()">
    </div>
  </div>

  <h3>Others</h3>
  <div class="form-group">
    <label for="telephone">Telephone Reimbursement</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" class="form-control" id="telephone" aria-describedby="telephone"
             max="24000" [(ngModel)]="telephone" (ngModelChange)="computeTaxableIncome()">
    </div>
  </div>

  <h2>Total</h2>
  <div class="form-group">
    <label for="total-deductions">Total Deductions</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="total-deductions" aria-describedby="total-deductions"
             [(ngModel)]="total_deductions">
    </div>
  </div>

  <div class="form-group">
    <label for="taxable-income">Taxable Income</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="taxable-income" aria-describedby="taxable-income"
             [(ngModel)]="taxable_income">
    </div>
  </div>

  <button class="btn btn-dark mb-5" (click)="computeTax()">Calculate Tax</button>
</div>

<div *ngIf="showMonthlySalary">
  <h2>Tax Details</h2>
  <div class="form-group">
    <label for="tax">Income Tax</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="tax" aria-describedby="tax"
             [(ngModel)]="income_tax">
    </div>
  </div>
  <div class="form-group">
    <label for="cess">Additional Cess</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="cess" aria-describedby="cess"
             [(ngModel)]="additional_cess">
    </div>
  </div>
  <div class="form-group">
    <label for="total-tax">Total Tax</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="total-tax" aria-describedby="total-tax"
             [(ngModel)]="total_tax">
    </div>
  </div>

  <div class="form-group">
    <label for="earnings">Total Earnings</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="earnings" aria-describedby="earnings"
             [(ngModel)]="total_income">
    </div>
  </div>

  <div class="form-group">
    <label for="deductions">Total Deductions</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="deductions" aria-describedby="deductions"
             [(ngModel)]="total_deductions_after_tax">
    </div>
  </div>

  <div class="form-group">
    <label for="net-earnings">Net Earnings</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">&#8377;</div>
      </div>
      <input type="number" disabled class="form-control" id="net-earnings" aria-describedby="net-earnings"
             [(ngModel)]="net_earnings">
    </div>
  </div>
  <h1>Your monthly take home salary is &#8377; {{monthly_salary}}</h1>
</div>
