<div class="container border border-dark rounded">
  <div class="row justify-content-center">
    <div class="col-12 text-center bg-dark text-light">
      <h1>Your Available Apps</h1>
    </div>

    <div class="card m-2 border-dark col-lg-3 col-sm-12" routerLink="/salary-calculator" role="button">
      <img src="../../assets/images/salary-calculator.png" class="card-img-top bg-light" alt="...">
      <div class="card-body text-center">
        <h2 class="card-title">Take Home Salary Calculator</h2>
      </div>
    </div>

  </div>
</div>
